
{% extends "base.html" %}

{% block header %}
<header><a href="/" style="color: black; margin: 0 auto; display:block; text-align: center">Clueless!</a></header>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
			<div class="row">

        <div class="col-md-8 " id="app">
        </div>
        
				<div class="col-md-4">
          <row>
            <div class="list-group w-100 d-inline-block overflow-auto" id ="player_list">
              <a href="#" class="list-group-item list-group-item-action active">Players</a>
                {% for user in users %}
                <div class="list-group-item justify-content-between" id="{{ user.username }}">{{ user.username }}<span class="badge badge-secondary badge-pill">Purple</span>
                </div>
                {% endfor %}
            </div>
          </row>      
        
          <row>
            <div class="w-100 d-inline-block overflow-auto">
              <ul id="chat-text" class="comments collection white z-depth-2">
                  {% for comment in comment_list %}
                  <li id="comment" class="collection-item" comment_id="{{comment.comment_id}}">
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </row>

        <div class="row">
            <input type="text" name="comment" id="comment_input">
            <button class="submit btn waves-effect waves-light" type="submit" name="submit" value="submit" id="submit">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>
        <div class="row">
          <div class="d-flex justify-content-center"><button class="btn btn-secondary" type="button" id="up-button">Up</button></div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-secondary" type="button" id="left-button">Left</button>
            <button class="btn btn-secondary" type="button" id="secret-button">Secret</button>
            <button class="btn btn-secondary" type="button" id="right-button">Right</button>
          </div>
          <div class="d-flex justify-content-center"><button class="btn btn-secondary" type="button" id="down-button">Down</button></div>  
        </div>
			</div>
      </div>
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col card_tray" id="card_tray1">
							<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='assets/card.png')}}" />
						</div>
						<div class="col card_tray" id="card_tray2">
							<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='assets/card.png')}}" />
						</div>
						<div class="col card_tray" id="card_tray3">
							<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='assets/card.png')}}" />
						</div>
					</div>
				</div>


				<div class="col-md-4">
          <div class="row">
            <h3 id="game_status">Game Started</h3>
            <button class="btn btn-secondary" type="button" id="suggestion-button">Suggestion</button>
            <button class="btn btn-secondary" type="button" id="accusation-button">Accusation</button>
            <button class="btn btn-secondary" type="button" id="skip-button">Skip Turn</button>
            <button name="exit" class="btn btn-danger" id="exit">Exit Game</button> 
  
          </div>
      </div>



			</div>
	</div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

<script>
  $(document).ready(function(){
    //connect to the socket server.
    //var socket = io.connect('http://' + document.domain + ':' + location.port);
    var socket = io.connect("https://clue-test-server-app.herokuapp.com/");
    var numbers_received = [];
    socket.emit('join', {room: "{{game_id}}"});

    function addComment(username, message) {
      $('.comments').append("<li><b>" + username + "</b> " + message + "</li>");
    }

    socket.on("chat", function(data){
      console.log("comment emitted ");
      addComment(data["username"], data["message"]);
    })

    socket.on("join", function(data){
      console.log("comment emitted ");
      if (document.getElementById(data["username"]) == null) {
        $('#player_list').append('<div class="list-group-item justify-content-between" id="' + data["username"] + '">' + data["username"] + '<span class="badge badge-secondary badge-pill">Purple</span></div>');  
      } else {
      }
    })

    socket.on("leave", function(data){
      console.log("leave " + data["username"]);
      document.getElementById(data["username"]).remove();
    })

    $('#submit').click(function() {
        socket.emit('new_message', $('#comment_input').val());
        document.getElementById("comment_input").value = "";
    });

    $('#exit').click(function() {
      console.log("exit emitted ");
      socket.emit('leave', {room: "{{game_id}}"});
      window.location = "{{ url_for('index') }}";
    });

    $(".btn-secondary").click(function(){    
        console.log(this.id);
        socket.emit('button', {room: "{{game_id}}", button: this.id});
    });
        
});

</script>


<script>
  var config = {
      type: Phaser.AUTO,
      width: 7 * 55, // Number of tiles * size of the tile
      height: 7 * 43,
      zoom: 2,
      parent: 'app',
      pixelArt: true,
      scene: {
          preload: preload,
          create: create,
          update: update
      }
  };

  var game = new Phaser.Game(config);

  function preload ()
  {
      
      this.load.image('tiles', '{{ url_for('static', filename="assets/clue-board-16.png") }}');
      this.load.image('study', '{{ url_for('static', filename="assets/study.png") }}');
      this.load.image('hall', '{{ url_for('static', filename="assets/hall.png") }}');
      this.load.image('lounge', '{{ url_for('static', filename="assets/lounge.png") }}');
      this.load.image('library', '{{ url_for('static', filename="assets/library.png") }}');
      this.load.image('clue', '{{ url_for('static', filename="assets/clue.png") }}');
      this.load.image('diningroom', '{{ url_for('static', filename="assets/diningroom.png") }}');
      this.load.image('billiardroom', '{{ url_for('static', filename="assets/billiardroom.png") }}');
      this.load.image('conservatory', '{{ url_for('static', filename="assets/conservatory.png") }}');
      this.load.image('ballroom', '{{ url_for('static', filename="assets/ballroom.png") }}');
      this.load.image('kitchen', '{{ url_for('static', filename="assets/kitchen.png") }}');
      this.load.image('piece', '{{ url_for('static', filename="assets/piece.png") }}');
      this.load.tilemapCSV('map', '{{ url_for('static', filename="assets/tilemap.csv") }}');
      
      
      
      this.load.tilemapCSV('map2', '{{ url_for('static', filename="assets/tilemap2.csv") }}');
      this.load.image('background', '{{ url_for('static', filename="assets/floorplan3.png") }}');


      //this.load.image('tiles', '{{ url_for('static', filename="assets/floorplan2.png") }}');
      //this.load.tilemapCSV('map', '{{ url_for('static', filename="assets/tilemap.csv") }}');
      //this.load.image('map', '{{ url_for('static', filename="assets/floorplan2.png") }}');
  }

  var cursors;
  var controls;
  var tiles;
  var layer;
  var map;
  var player;
  var marker;

  function create ()
  {
  //Create the tilemap
  map = this.make.tilemap({ key: 'map2', tileWidth: 55, tileHeight: 43 });
  tiles = map.addTilesetImage('tiles');
  layer = map.createStaticLayer(0, tiles, 0, 0);

  //add the rooms
  /*
  var study = this.add.sprite(56, 32, 'study');
  var hall = this.add.sprite(192, 56, 'hall');

  var lounge = this.add.sprite(328, 48, 'lounge');
  var library = this.add.sprite(56, 136, 'library');
  var clue = this.add.sprite(184, 184, 'clue');
  var diningroom = this.add.sprite(320, 200, 'diningroom');
  var billiardroom = this.add.sprite(48, 240, 'billiardroom');
  var conservatory = this.add.sprite(48, 344, 'conservatory');
  var ballroom = this.add.sprite(192, 336, 'ballroom');
  var kitchen = this.add.sprite(336, 336, 'kitchen');
  */
  var background = this.add.sprite(194, 151, 'background');

  player = this.add.image(2*55 + 27, 43 + 22, 'piece');


  selectedTile = map.getTileAt(2, 3);

  marker = this.add.graphics();
  marker.lineStyle(2, 0x000000, 1);
  marker.strokeRect(0, 0, map.tileWidth, map.tileHeight);

  var cursors = this.input.keyboard.createCursorKeys();
  var controlConfig = {
      camera: this.cameras.main,
      left: cursors.left,
      right: cursors.right,
      up: cursors.up,
      down: cursors.down,
      speed: 0.5
  };
  controls = new Phaser.Cameras.Controls.FixedKeyControl(controlConfig);

  }

  function update (time, delta)
  {
      controls.update(delta);

      var worldPoint = this.input.activePointer.positionToCamera(this.cameras.main);

      // Rounds down to nearest tile
      var pointerTileX = map.worldToTileX(worldPoint.x);
      var pointerTileY = map.worldToTileY(worldPoint.y);

      // Snap to tile coordinates, but in world space
      marker.x = map.tileToWorldX(pointerTileX);
      marker.y = map.tileToWorldY(pointerTileY);

      if (this.input.manager.activePointer.isDown)
      {
        player.setPosition(pointerTileX*55 + 27, pointerTileY*43 + 22);  
      }

    }
</script>

{% endblock %}