
{% extends "base.html" %}

{% block header %}
<header><a href="/" style="color: black; margin: 0 auto; display:block; text-align: center">Clueless!</a></header>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
			<div class="row">

        <div class="col-md-8 " id="app">
        </div>
        
				<div class="col-md-4">
          <row>
            <div class="list-group w-100 d-inline-block overflow-auto" id ="player_list">
              <a href="#" class="list-group-item list-group-item-action active">Players</a>
                {% for user in users %}
                <div class="list-group-item justify-content-between" id="{{ user.username }}">{{ user.username }}<span class="badge badge-secondary badge-pill">Purple</span>
                </div>
                {% endfor %}
            </div>
          </row>      
        
          <row>
            <div class="w-100 d-inline-block overflow-auto">
              <ul id="chat-text" class="comments collection white z-depth-2">
                  {% for comment in comment_list %}
                  <li id="comment" class="collection-item" comment_id="{{comment.comment_id}}">
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </row>

        <div class="row">
            <input type="text" name="comment" id="comment_input">
            <button class="submit btn waves-effect waves-light" type="submit" name="submit" value="submit" id="submit">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>
        <div class="row">
          <div class="d-flex justify-content-center"><button class="btn btn-secondary" type="button" id="up-button">Up</button></div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-secondary" type="button" id="left-button">Left</button>
            <button class="btn btn-secondary" type="button" id="secret-button">Secret</button>
            <button class="btn btn-secondary" type="button" id="right-button">Right</button>
          </div>
          <div class="d-flex justify-content-center"><button class="btn btn-secondary" type="button" id="down-button">Down</button></div>  
        </div>
			</div>
      </div>
			<div class="row">
				<div class="col-md-8 bottom-tray">
          <div class="row">
            <div class="col-md text-center card-image">
              <ul class="list-group card-list" id="who-list">
                <li class="list-group-item who">WHO?</li>
                <li class="list-group-item who active" data-toggle="list">PROF_PLUM</li>
                <li class="list-group-item who" data-toggle="list">MRS_PEACOCK</li>
                <li class="list-group-item who" data-toggle="list">MR_GREEN</li>
                <li class="list-group-item who" data-toggle="list">MRS_WHITE</li>
                <li class="list-group-item who" data-toggle="list">COL_MUSTARD</li>
                <li class="list-group-item who" data-toggle="list">MISS_SCARLET</li>
              </ul>
            </div>
            <div class="col-md text-center card-image">
              <ul class="list-group card-list" id="what-list">
                <li class="list-group-item what">WHAT?</li>
                <li class="list-group-item what active" data-toggle="list">ROPE</li>
                <li class="list-group-item what" data-toggle="list">LEAD_PIPE</li>
                <li class="list-group-item what" data-toggle="list">KNIFE</li>
                <li class="list-group-item what" data-toggle="list">WENCH</li>
                <li class="list-group-item what" data-toggle="list">CANDLE_STICK</li>
                <li class="list-group-item what" data-toggle="list">REVOLVER</li>
              </ul>
            </div>
            <div class="col-md text-center card-image">
              <ul class="list-group card-list" id="where-list">
                <li class="list-group-item where">WHERE?</li>
                <li class="list-group-item where active" data-toggle="list">STUDY</li>
                <li class="list-group-item where" data-toggle="list">LIBRARY</li>
                <li class="list-group-item where" data-toggle="list">HALL</li>
                <li class="list-group-item where" data-toggle="list">CONSERVATORY</li>
                <li class="list-group-item where" data-toggle="list">BILLIARD_ROOM</li>
                <li class="list-group-item where" data-toggle="list">BALL_ROOM</li>
                <li class="list-group-item where" data-toggle="list">LOUNGE</li>
                <li class="list-group-item where" data-toggle="list">DINING_ROOM</li>
                <li class="list-group-item where" data-toggle="list">KITCHEN</li>
              </ul>
            </div>
          </div>
				</div>


				<div class="col-md-4">
          <div class="row">
            <h3 id="game_status">Game Started</h3>
            <button class="btn btn-secondary" type="button" id="suggestion-button">Suggestion</button>
            <button class="btn btn-secondary" type="button" id="accusation-button">Accusation</button>
            <button class="btn btn-danger" type="button" id="start-button">Restart Game</button>
            <button name="exit" class="btn btn-danger" id="exit">Exit Game</button> 
  
          </div>
      </div>



			</div>
	</div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

<script>
  $(document).ready(function(){
    //connect to the socket server.
    //var socket = io.connect('http://' + document.domain + ':' + location.port);
    var socket = io.connect("https://clue-test-server-app.herokuapp.com/");
    var numbers_received = [];
    socket.emit('join', {room: "{{game_id}}"});

    function test() {
      console.log("test worked");
    }

    function addComment(username, message) {
      $('.comments').append("<li><b>" + username + "</b> " + message + "</li>");
    }

    socket.on("chat", function(data){
      console.log("comment emitted ");
      addComment(data["username"], data["message"]);
    })

    socket.on("join", function(data){
      console.log("comment emitted ");
      if (document.getElementById(data["username"]) == null) {
        $('#player_list').append('<div class="list-group-item justify-content-between" id="' + data["username"] + '">' + data["username"] + '<span class="badge badge-secondary badge-pill">Purple</span></div>');  
      } else {
      }
    })

    socket.on("leave", function(data){
      console.log("leave " + data["username"]);
      document.getElementById(data["username"]).remove();
    })

    $('#submit').click(function() {
        socket.emit('new_message', $('#comment_input').val());
        document.getElementById("comment_input").value = "";
    });

    $('#exit').click(function() {
      console.log("exit emitted ");
      socket.emit('leave', {room: "{{game_id}}"});
      window.location = "{{ url_for('index') }}";
    });

    //$(".btn-secondary").click(function(){    
    //    console.log(this.id);
    //    socket.emit('button', {room: "{{game_id}}", button: this.id});
    //});
        
});

</script>


<script>

  var socket = io.connect("https://clue-test-server-app.herokuapp.com/");
  
  var config = {
      type: Phaser.AUTO,
      width: 7 * 55, // Number of tiles * size of the tile
      height: 7 * 43,
      zoom: 2,
      parent: 'app',
      pixelArt: true,
      scene: {
          preload: preload,
          create: create,
          update: update
      }
  };

  var game = new Phaser.Game(config);

  function preload ()
  {
      
      this.load.image('tiles', '{{ url_for('static', filename="assets/clue-board-16.png") }}');
      this.load.image('piece', '{{ url_for('static', filename="assets/piece.png") }}');
      this.load.tilemapCSV('map2', '{{ url_for('static', filename="assets/tilemap2.csv") }}');
      this.load.image('background', '{{ url_for('static', filename="assets/floorplan3.png") }}');
      this.load.spritesheet({key: 'pieces', 
        url: '{{ url_for('static', filename="assets/pieces.png") }}', 
        frameConfig: { 
          frameWidth: 11, 
          frameHeight: 18,
          startFrame: 0,
          endFrame: 5 
        }
      });

  }

  var cursors;
  var controls;
  var tiles;
  var layer;
  var map;
  var player;
  var marker;

  function create ()
  {
  //Create the tilemap
  map = this.make.tilemap({ key: 'map2', tileWidth: 55, tileHeight: 43 });
  tiles = map.addTilesetImage('tiles');
  layer = map.createStaticLayer(0, tiles, 0, 0);
  var background = this.add.sprite(194, 151, 'background');


  //NEED TO GET THE PLAYER LOCATIONS FROM THE SERVER
  player1 = this.add.sprite(2*55 + 27, 43 + 22, 'pieces', 0);
  player2 = this.add.sprite(3*55 + 27, 43 + 22, 'pieces', 1);
  player3 = this.add.sprite(2*55 + 27, 2*43 + 22, 'pieces', 2);
  player4 = this.add.sprite(3*55 + 27, 2*43 + 22, 'pieces', 3);
  player5 = this.add.sprite(2*55 + 27, 3*43 + 22, 'pieces', 4);
  player6 = this.add.sprite(3*55 + 27, 3*43 + 22, 'pieces', 5);
  
  selectedTile = map.getTileAt(2, 3);
  marker = this.add.graphics();
  marker.lineStyle(2, 0x000000, 1);
  marker.strokeRect(0, 0, map.tileWidth, map.tileHeight);

  var cursors = this.input.keyboard.createCursorKeys();
  var controlConfig = {
      camera: this.cameras.main,
      left: cursors.left,
      right: cursors.right,
      up: cursors.up,
      down: cursors.down,
      speed: 0.5
  };
  controls = new Phaser.Cameras.Controls.FixedKeyControl(controlConfig);

  }

  function update (time, delta)
  {
      controls.update(delta);

      var worldPoint = this.input.activePointer.positionToCamera(this.cameras.main);

      // Rounds down to nearest tile
      var pointerTileX = map.worldToTileX(worldPoint.x);
      var pointerTileY = map.worldToTileY(worldPoint.y);

      // Snap to tile coordinates, but in world space
      marker.x = map.tileToWorldX(pointerTileX);
      marker.y = map.tileToWorldY(pointerTileY);

      if (this.input.manager.activePointer.isDown)
      {
        player1.setPosition(pointerTileX*55 + 27, pointerTileY*43 + 22);  
      }

    }

  $(".btn-secondary").click(function(){
        console.log(this.id);
        
        //1) Check if it's this player's turn

        //2) Check if it is a valid move

        //3) Process the move

        //4) Move up, down, left, right, secret

        //5) Make accusation
        if(this.id=="accusation-button") {
        }

        //6) Make suggestion
        if(this.id=="suggestion-button") {
         var who = $('ul#who-list').find('li.active').text();
         var what = $('ul#what-list').find('li.active').text();
         var where = $('ul#where-list').find('li.active').text();
         
         socket.emit('new_message', who);

         console.log(who,what,where);

        }

        //socket.emit('button', {room: "{{game_id}}", button: this.id});
        if(this.id=="left-button") {
          console.log(this.id);
          player1.setPosition(player1.x - 55, player1.y); 
        }    
         
    });

    $('#start-button').click(function() {
      socket.emit('restart', "Restart");
    });

    socket.on("restart", function(data){
      console.log(data["player_grid"]);
      player1.setPosition(-100,-100);
      player2.setPosition(-100,-100);
      player3.setPosition(-100,-100);
      player4.setPosition(-100,-100);
      player5.setPosition(-100,-100);
      player6.setPosition(-100,-100);

      for (var key in data["player_grid"]){
        if (key=="PROF_PLUM"){
            player1.setPosition(data["player_grid"][key]["x"]*55 + 55 + 27, data["player_grid"][key]["y"]*43 + 43 + 22);
          } else if (key=="MRS_PEACOCK"){
            player2.setPosition(data["player_grid"][key]["x"]*55 + 55 + 27, data["player_grid"][key]["y"]*43 + 43 + 22);
          } else if (key=="MR_GREEN"){
            player3.setPosition(data["player_grid"][key]["x"]*55 + 55 + 27, data["player_grid"][key]["y"]*43 + 43 + 22);
          } else if (key=="MRS_WHITE"){
            player4.setPosition(data["player_grid"][key]["x"]*55 + 55 + 27, data["player_grid"][key]["y"]*43 + 43 + 22);
          } else if (key=="COL_MUSTARD"){
            player5.setPosition(data["player_grid"][key]["x"]*55 + 55 + 27, data["player_grid"][key]["y"]*43 + 43 + 22);
          } else if (key=="MISS_SCARLET"){
            player6.setPosition(data["player_grid"][key]["x"]*55 + 55 + 27, data["player_grid"][key]["y"]*43 + 43 + 22);
          }
      }

      //first clear the cross outs

      //figure out what turn the player is

      //only cross out the ones for that player's hand
      //check 
      console.log(data["deck"]);
      for (var key in data["deck"]){
        $('.what').each(function(){
          if($(this).text() == key){
            $(this).toggleClass('stroked');
          }
        });
        $('.who').each(function(){
          if($(this).text() == key){
            $(this).toggleClass('stroked');
          }
        }); 
        $('.where').each(function(){
          if($(this).text() == key){
            $(this).toggleClass('stroked');
          }
        });  
      }

    })
</script>

{% endblock %}