
{% extends "base.html" %}

{% block header %}
<header><a href="/" style="color: black; margin: 0 auto; display:block; text-align: center">Clueless!</a></header>
{% endblock %}



{% block content %}
 <div id="app">
    <h1> Demonstrate two-way communication</h1>
    <p> Client pull: It was { solution.character } in the { solution.room } with the { solution.weapon }</p>
    <p>Server push: It was {{ character }} in the {{ room }} with the {{ weapon }}</p>
  </div>

  <script>
    var config = {
        type: Phaser.AUTO,
        width: 24 * 16, // Number of tiles * size of the tile
        height: 25 * 16,
        zoom: 3,
        parent: 'phaser-example',
        pixelArt: true,
        scene: {
            preload: preload,
            create: create
        }
    };

    var game = new Phaser.Game(config);

    function preload ()
    {

        this.load.image('tiles', '{{ url_for('static', filename="assets/clue-board-16.png") }}');
        this.load.image('study', '{{ url_for('static', filename="assets/study.png") }}');
        this.load.image('hall', '{{ url_for('static', filename="assets/hall.png") }}');
        this.load.image('lounge', '{{ url_for('static', filename="assets/lounge.png") }}');
        this.load.image('library', '{{ url_for('static', filename="assets/library.png") }}');
        this.load.image('clue', '{{ url_for('static', filename="assets/clue.png") }}');
        this.load.image('diningroom', '{{ url_for('static', filename="assets/diningroom.png") }}');
        this.load.image('billiardroom', '{{ url_for('static', filename="assets/billiardroom.png") }}');
        this.load.image('conservatory', '{{ url_for('static', filename="assets/conservatory.png") }}');
        this.load.image('ballroom', '{{ url_for('static', filename="assets/ballroom.png") }}');
        this.load.image('kitchen', '{{ url_for('static', filename="assets/kitchen.png") }}');


        this.load.tilemapCSV('map', '{{ url_for('static', filename="assets/tilemap.csv") }}');

    }

    var cursors;


    function create ()
    {
    //Create the tilemap
    var map = this.make.tilemap({ key: 'map', tileWidth: 16, tileHeight: 16 });
    var tiles = map.addTilesetImage('tiles');
    var layer = map.createStaticLayer(0, tiles, 0, 0);

    //add the rooms
    var study = this.add.sprite(56, 32, 'study');
    var hall = this.add.sprite(192, 56, 'hall');

    var lounge = this.add.sprite(328, 48, 'lounge');
    var library = this.add.sprite(56, 136, 'library');
    var clue = this.add.sprite(184, 184, 'clue');
    var diningroom = this.add.sprite(320, 200, 'diningroom');
    var billiardroom = this.add.sprite(48, 240, 'billiardroom');
    var conservatory = this.add.sprite(48, 344, 'conservatory');
    var ballroom = this.add.sprite(192, 336, 'ballroom');
    var kitchen = this.add.sprite(336, 336, 'kitchen');

    }
  </script>

{% endblock %}

<style>
.banner-row !important {
  height: 600px;
}
</style>