
{% extends "base.html" %}

{% block header %}
<header><a href="/" style="color: black; margin: 0 auto; display:block; text-align: center">Clueless!</a></header>
{% endblock %}



{% block content %}
 <div id="app">
    <h1> Demonstrate two-way communication</h1>
    <p> Client pull: It was { solution.character } in the { solution.room } with the { solution.weapon }</p>
    <p>Server push: It was {{ character }} in the {{ room }} with the {{ weapon }}</p>
  </div>

  <script>
    var config = {
        type: Phaser.AUTO,
        width: 24 * 16, // Number of tiles * size of the tile
        height: 25 * 16,
        zoom: 3,
        parent: 'phaser-example',
        pixelArt: true,
        scene: {
            preload: preload,
            create: create
        }
    };

    var game = new Phaser.Game(config);

    function preload ()
    {

        this.load.image('tiles', '{{ url_for('static', filename="assets/clue-board-16.png") }}');

        this.load.image('study', '{{ url_for('static', filename="assets/study.png") }}');

        this.load.image('hall', '{{ url_for('static', filename="assets/hall.png") }}');

    }

    var cursors;


    function create ()
    {
      // Load a map from a 2D array of tile indices
    var level = [
      [  0,  2,  2,  2,  2,  3,  13,  13,  13,  13,  13, 0,  2,  2,  2,  2,  3,  13,  13,  13,  13,  13, 0, 0 ],
      [  11,  12,  12,  12,  13,  25,  13,  13,  13,  13,  13, 11,  12,  12,  12,  13,  25,  13,  13,  13,  13,  13, 0, 0 ],
      [  11,  12,  12,  12,  13,  25,  13,  13,  13,  13,  13, 11,  12,  12,  12,  13,  25,  13,  13,  13,  13,  13, 0, 0 ],
      [  33,  34,  34,  34,  32,  36,  13,  13,  13,  13,  13, 33,  34,  34,  34,  32,  36,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ],
      [  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13, 0, 0 ]
    ]

    // When loading from an array, make sure to specify the tileWidth and tileHeight
    var map = this.make.tilemap({ data: level, tileWidth: 16, tileHeight: 16 });
    var tiles = map.addTilesetImage('tiles');
    var layer = map.createStaticLayer(0, tiles, 0, 0);

    var study = this.add.sprite(56, 32, 'study');
    var hall = this.add.sprite(192, 56, 'hall');

    }
  </script>

{% endblock %}

<style>
.banner-row !important {
  height: 600px;
}
</style>